# eda.ipynb â€” Exploratory Data Analysis (EDA)

## 1. Introduction
This notebook performs Exploratory Data Analysis (EDA) on the cleaned video game sales dataset.  
The goal is to find insights like trends and KPIs that will guide dashboard creation in Power BI.

In [ ]:
import pandas as pd
df = pd.read_excel("../Data/VideoGameSale.xlsx", engine="openpyxl")
print(df.head())

   Game_Rank                      Name Platform    Year         Genre  \
0          1                Wii Sports      Wii  2006.0        Sports
1          2         Super Mario Bros.      NES  1985.0      Platform
2          3            Mario Kart Wii      Wii  2008.0        Racing
3          4         Wii Sports Resort      Wii  2009.0        Sports
4          5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing

  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0  Nintendo     41.49     29.02      3.77         8.46         82.74
1  Nintendo     29.08      3.58      6.81         0.77         40.24
2  Nintendo     15.85     12.88      3.79         3.31         35.82
3  Nintendo     15.75     11.01      3.28         2.96         33.00
4  Nintendo     11.27      8.89     10.22         1.00         31.37

In [ ]:

df.to_csv("../Data/vgsales_clean.csv", index=False)

In [13]:
df = pd.read_csv("../Data/vgsales_clean.csv")

## 2. Dataset Overview
Checked the shape, columns, and key statistics of the dataset.

In [14]:
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Years Range:", df['Year'].min(), "-", df['Year'].max())
print("Unique Games:", df['Name'].nunique())
df.describe(include='all').T.head(15)

Shape: (16598, 11)
Columns: ['Game_Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']
Years Range: 1980.0 - 2020.0
Unique Games: 11493

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Game_Rank,16598.0,NaN,NaN,NaN,8300.605254,4791.853933,1.0,4151.25,8300.5,12449.75,16600.0
Name,16598,11493,Need for Speed: Most Wanted,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Platform,16598,31,DS,2163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,16327.0,NaN,NaN,NaN,2006.406443,5.828981,1980.0,2003.0,2007.0,2010.0,2020.0
Genre,16598,12,Action,3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Publisher,16540,578,Electronic Arts,1351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA_Sales,16598.0,NaN,NaN,NaN,0.264667,0.816683,0.0,0.0,0.08,0.24,41.49
EU_Sales,16598.0,NaN,NaN,NaN,0.146652,0.505351,0.0,0.0,0.02,0.11,29.02
JP_Sales,16598.0,NaN,NaN,NaN,0.077782,0.309291,0.0,0.0,0.0,0.04,10.22
Other_Sales,16598.0,NaN,NaN,NaN,0.048063,0.188588,0.0,0.0,0.01,0.04,10.57
Global_Sales,16598.0,NaN,NaN,NaN,0.537441,1.555028,0.01,0.06,0.17,0.47,82.74

## 3. Key Performance Indicators (KPIs)
Summarized the dataset.

In [15]:
total_sales = df['Global_Sales'].sum()
avg_sales = df['Global_Sales'].mean()
top_platform = df.groupby('Platform')['Global_Sales'].sum().idxmax()
top_genre = df.groupby('Genre')['Global_Sales'].sum().idxmax()

print("Total Global Sales (M):", round(total_sales,2))
print("Average Sales per Game (M):", round(avg_sales,2))
print("Top Platform:", top_platform)
print("Top Genre:", top_genre)

Total Global Sales (M): 8920.44
Average Sales per Game (M): 0.54
Top Platform: PS2
Top Genre: Action

## 4. Platform Analysis
Checked which platforms have the highest total sales.

In [16]:
platform_sales = df.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False).head(10)
platform_sales

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
PS       730.66
GBA      318.50
PSP      296.28
PS4      278.10
PC       258.82
Name: Global_Sales, dtype: float64

## 5. Genre Analysis
Analyzed which genres dominate in terms of global sales.

In [17]:
genre_sales = df.groupby('Genre')['Global_Sales'].sum().sort_values(ascending=False)
genre_sales

Genre
Action          1751.18
Sports          1330.93
Shooter         1037.37
Role-Playing     927.37
Platform         831.37
Misc             809.96
Racing           732.04
Fighting         448.91
Simulation       392.20
Puzzle           244.95
Adventure        239.04
Strategy         175.12
Name: Global_Sales, dtype: float64

## 6. Yearly Sales Trend
Looked at global sales performance across different years.

In [18]:
year_sales = df.groupby('Year')['Global_Sales'].sum()
year_sales

Year
1980.0     11.38
1981.0     35.77
1982.0     28.86
1983.0     16.79
1984.0     50.36
1985.0     53.94
1986.0     37.07
1987.0     21.74
1988.0     47.22
1989.0     73.45
1990.0     49.39
1991.0     32.23
1992.0     76.16
1993.0     45.98
1994.0     79.17
1995.0     88.11
1996.0    199.15
1997.0    200.98
1998.0    256.47
1999.0    251.27
2000.0    201.56
2001.0    331.47
2002.0    395.52
2003.0    357.85
2004.0    419.31
2005.0    459.94
2006.0    521.04
2007.0    611.13
2008.0    678.90
2009.0    667.30
2010.0    600.45
2011.0    515.99
2012.0    363.54
2013.0    368.11
2014.0    337.05
2015.0    264.44
2016.0     70.93
2017.0      0.05
2020.0      0.29
Name: Global_Sales, dtype: float64

## 7. Regional Preferences
Explored how different regions (NA, EU, JP, Others) contribute to genre sales.

In [19]:
region_genre = df.pivot_table(index='Genre', values=['NA_Sales','EU_Sales','JP_Sales','Other_Sales'], aggfunc='sum')
region_genre

              EU_Sales  JP_Sales  NA_Sales  Other_Sales
Genre
Action          525.00    159.95    877.83       187.38
Adventure        64.13     52.07    105.80        16.81
Fighting        101.32     87.35    223.59        36.68
Misc            215.98    107.76    410.24        75.32
Platform        201.63    130.77    447.05        51.59
Puzzle           50.78     57.31    123.78        12.55
Racing          238.39     56.69    359.42        77.27
Role-Playing    188.06    352.31    327.28        59.61
Shooter         313.27     38.28    582.60       102.69
Simulation      113.38     63.70    183.31        31.52
Sports          376.85    135.37    683.35       134.97
Strategy         45.34     49.46     68.70        11.36

## 8. Correlation Check
Checked whether sales in North America and Europe are correlated.

In [20]:
corr = df['NA_Sales'].corr(df['EU_Sales'])
print("Correlation between NA and EU Sales:", round(corr,2))

Correlation between NA and EU Sales: 0.77

## 9. Summary Stats
Exporting summary metrics for reference and reporting.

In [21]:
summary = {
    "Total Global Sales": round(total_sales,2),
    "Average Sales per Game": round(avg_sales,2),
    "Top Platform": top_platform,
    "Top Genre": top_genre
}
pd.DataFrame([summary]).to_csv("../data/eda_summary.csv", index=False)

## 10. Conclusion
- Pandas EDA shows that PS2 and Action dominate sales globally.  
- Sales peaked between 2000â€“2010, showing clear historical trends.  
- Regional analysis indicates that North America and Europe are strongly correlated, while Japan shows unique preferences.